root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json}]
charset = utf-8
indent_style = space

[*.{js,yml}]
indent_size = 2

[*.{json,sh}]
indent_size = 4

[Makefile]
indent_style = tab

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
