.DS_Store
*.tar.gz
*.log.*
t.js
node_modules
npm-debug.log
db.json
dump
conf/secret.json
github.pub
github
config.js
config.patch
data/*
conf.js
conf-*
!conf-sample.js
sim_result*
*_test
backtesting_*

.ipynb_checkpoints
data.csv
value_net.json

extensions/strategies/bumblebee
zen/logs/history/*.png
zen/logs/hof/*.txt
zen/evolution/__pycache__/

zen/__pycache__/

zen/temp\.html

*.pyc
