.DS_Store
*.tar.gz
*.log.*
t.js
node_modules
npm-debug.log
db.json
dump
conf/secret.json
github.pub
github
config.js
config.patch
data/*
conf.js
conf-*
conf_*
!conf-sample.js
sim_result*
trade_result*
*_test
backtesting_*
models/*.json
models/*.html
*.pyc
*.swp
temp.html
logs
