<div class="header"><div class="log-line">DATE                       PRODUCT GRAPH                  PRICE     ZMI{{#if secret}}             BTC      USD        BALANCE    DIFF       TRADED{{/if}}<i class="loader fa fa-fw fa-spinner fa-pulse"></i></div></div>
<div class="logs"></div>
<div class="logs-end"><i class="loader fa fa-fw fa-spinner fa-pulse fa-3x"></i></div>
