<div class="header"><div class="log-line">          DATE                    GRAPH           PRICE      ZMI        BTC   USD   DIFF   BAL   TRADED</div></div>
<div class="logs">
  {{#each logs}}
    <div class="log-line">{{{html}}}</div>
  {{/each}}
</div>
<div class="logs-end"></div>
