<div class="header"><div class="log-line">DATE                       GRAPH                PRICE       ZMI{{#if secret}}             BTC      USD        BALANCE    DIFF       TRADED{{/if}}</div></div>
<div class="logs"></div>
<div class="logs-end"></div>
