<div class="header"><div class="log-line">DATE                       GRAPH                PRICE       ZMI{{#if secret}}             BTC      USD        BALANCE    DIFF       TRADED{{/if}}</div></div>
<div class="logs">
  {{#each logs}}
    <div class="log-line">{{{html}}}</div>
  {{/each}}
</div>
<div class="logs-end"></div>
