<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="content">
    {{#if message}}<p><strong style="color:red">{{{message}}}</strong></p>{{/if}}
    {{{content}}}
  </div>
  <script type="text/javascript" src="/jquery.js"></script>
  <script type="text/javascript" src="/main.js"></script>
</body>
</html>