{{#if user}}
<h2>hello, {{user.id}}!</h2>
<ul>
  <li><a href="/logout">Log out</a></li>
  <li><a href="/test.html">Test page</a></li>
</ul>
{{else}}
<h2>hello, stranger!</h2>
<ul>
  <li><a href="/login">Log in</a></li>
  <li><a href="/test.html">Test page</a></li>
</ul>
{{/if}}