body {
  font-family: 'Source Code Pro', monospace;
  padding: 0 30px 10px 10px;
  font-size: 1.1em;
  background-color: black;
  color: #3ceb00;
}

.log-line, .header {
  white-space: pre;
  line-height: 1.25;
}

.header {
  color: #555;
}

.new_max_vol {
  border: 2px solid #0AA;
  padding: 4px;
  font-size: 1.1em;
}